.background-section{
    background : var(--lwc-colorBackgroundAlt, #ffffff);
    box-shadow: 10px;
    border-radius : var(--lwc-borderRadiusLarge, 0.5rem);
    
}

/* .scroll-container{
height:full;
flex-grow: 1;
    width:100%;
    overflow-y: auto;
} */